<h1>Running Log</h1>

<div class="addNewSighting">

    <h3>Add new lake</h3>

    <div class="messages">
        {{#each messages.error}}
            <p class="error_msg">{{this}}</p>
        {{/each}}
    </div>
    <!-- client side validation-->
    <form action="/" method="POST">
        Name of lake: <input name="name" type="text" required>
        <br>
        Date of run: <input name="dateSeen" type="datetime-local">
        <br>
        Run time in seconds: <input name="time" type=text" required>
        <br>
        <input name="addlake" type="submit" value="Add new lake">

    </form>

</div>

<div class="Lakes">

    <h3>All Lakes</h3>
<ul>
    {{# each lakes}}
        <li>
            <a href="/details/{{this._id}}">{{this.name}}</a>
        </li>


    {{else}}
        <p>No lake records in the database</p>
    {{/each}}
</ul>
</div>

